<li class="location__list-item">
  <div class="location__map-container"></div>
  <div class="location__details">
    <h5 class="location__title">{{@name}}</h5>
    <p class="location__phone">
      <a href="tel:+{{@phone}}">{{@phone}}</a>
    </p>
    <a class="select-button" role="link">Select</a>
  </div>
</li>