<li class="service__list-item">
  <div>
    <h5 class="narrow-17px">{{@title}}</h5>
    <p class="normal-14px">{{@duration}} minutes</p>
  </div>
  <div>
    <LinkTo
        @route="locations"
        @query={{hash id=@id}}
        class="select-button"
        role="link">
      Select
    </LinkTo>
  </div>
</li>